
  
  .comments-section {
    margin-top: 20px;
  }
  
  .comment {
   
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
  
  .add-comment textarea {
    width: 100%;
    margin-bottom: 10px;
  }
  
  .add-comment button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  .add-comment button:hover {
    background-color: #0056b3;
  }
  .comment-name{
    font-size: smaller;
    color: #A61713;
  }
  .comment-picture{
    border-radius: 50%;
   height: 100px;
  }
  .post-image{
    margin-left: 15%;
    width: 70%;
  }

  .post-content{
    letter-spacing: 1px;
    word-spacing: 2px;
   line-height: 1.5; 
   text-align: justify;
  }