
/* body{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
} */
.course-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow-x: hidden;
}

.course-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  font-size: 1rem;
  /* background-image: linear-gradient(to right bottom, #a61713, #be0035, #c50068, #aa00ac, #0000f7);left: 0;
  color: white; */
  padding: 10px 20px;
  background-color: whitesmoke;
 
}

.course-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  transition: margin-left 0.3s;
  min-height: 100vh;
}
.outline{
  color: darkolivegreen;
  font-size: larger;
  font-weight: bold;

}

.course-sidebar {
  width: 250px;
  background-color: whitesmoke;
  box-shadow: 2px 0 5px rgba(0,0,0,0.1);
  position: fixed;
  
  left: -250px;
  top: 0;
  height: calc(100% );
  overflow-y: auto;
  
  padding: 20px;
  transition: left 0.3s;
  color: black;
  a{
    color:black
  }
  
 
}

.course-sidebar.active {
  left: 0;
}

.course-content.active {
  margin-left: 250px;
}

.header-items {
  cursor: pointer;
}


.course-sidebar ul {
  list-style-type: none;
  padding: 0;
}

.course-sidebar ul li {
  margin: 10px 0;
}

.course-sidebar ul li ul {
  list-style-type: disc;
  margin-left: 20px;
}
.coursepage-heading{
  height: 300px;
   width:100%;
  background-color: #ccc;
}

section{
  
  height: 100vh;
 
  background-image: url("../../Assets/cyber.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  

}

.text-refine{
  padding: 10%;
}

.s1-container{
  display: flex;
  background-color: hsl(0, 0%, 94%);
  height: 100vh;
  .img{
    padding-top: 6%;
  }
}
.s2-container{
  background-color: #ddd;
 
 

}

.heading{
 
  height: 100vh;
  display: grid;
  place-content: center;
  
 
 p{
  color: white;
  font-size: 2rem;

  
 }

}

.sec1{
  color: hsl(0, 0%, 94%);
  text-transform: uppercase;
  display: grid;
  place-items: center;
  text-align: center;
  font-family: "jost";
  font-size: 44px;
  height: 100vh;
 

}
.text-container{
  padding-left: 9%;
  padding-right: 9%;
  padding-bottom: 5%;
}
.text-container3{
  padding-left: 9%;
  padding-right: 9%;
  padding-bottom: 5%;

}




.heading1{
  padding-top: 6%;
  font-size: 2rem;
  font-weight: 600;
}
.normal-text{
  margin-top: 6%;
}
.s3{
 
  background-color: hsl(0, 0%, 94%);
 
  
  
}
.s3-container{
  
}

.image{
  margin-top: 4%;
}

.card-container{
  margin-top: 30%;
  display: flex;
}
.my-card{
  margin-left: 10%;
  text-align: left;
 

}
.lala{
  margin-top: 500px;
  background-color: #fff;
}





